<h3>Estadísticas</h3>

<ul class="list-group" id="items" style="width: 300px;">
    <li class="list-group-item"><button style="margin-right: 100px;" type="button" disabled class="btn btn-primary">Azul</button>{{azul}} Votos</li>
    <li class="list-group-item"><button style="margin-right: 100px;" type="button" disabled class="btn btn-danger">Rojo</button>{{rojo}} Votos</li>
    <li class="list-group-item"><button style="margin-right: 90px;" type="button" disabled class="btn btn-success">Verde</button>{{verde}} Votos</li>
    <li class="list-group-item"><button style="margin-right: 79px;" type="button" disabled class="btn btn-info">Celeste</button>{{celeste}} Votos</li>
    <li class="list-group-item"><button style="margin-right: 70px;" type="button" disabled class="btn btn-warning">Amarillo</button>{{amarillo}} Votos</li>
    <li class="list-group-item"><button style="margin-right: 80px;" type="button" disabled class="btn btn-dark">Negro</button>{{negro}} Votos</li>
    <li class="list-group-item"><button style="margin-right: 79px;" type="button" disabled class="btn btn-withe">Blanco</button>{{blanco}} Votos</li>
</ul>